## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages that a data Scientist Use
* List the commonly used librairies
* create table DataScience Tools with one column

some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used librairies used by Data Scientists include

1. ggplot
2. dplyr
3. caret

<table border="1">
  <caption>Data Science Tools</caption>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>IBM Watson Studio</td>
  </tr>
</table>

### Below are a few examples of evoluating arithmetic expressions in Python

In [29]:
print("This is a simple arithmetic expression to multiply then add integers ")
y=(3*4)+5
print(y)

This is a simple arithmetic expression to multiply then add integers
17

In [37]:
print("This will convet 200 minutes to hours by diving by 60")
z=200/60
print(z)

This will convet 200 minutes to hours by diving by 60
3.3333333333333335

## Author

Emmanuelle TCHAMBILA-SYLTHO